.negrito {
    font-weight: 900;
}

.italico {
    font-style: italic;
}

.formatacao1 {
    text-decoration: underline;
}
 
.formatacao2 {
    text-decoration: overline;
}

.formatacao3 {
    text-decoration: line-through;
}

.texto {
    font: 900 20px "Times New Roman", "Aptos Narrow", sans-serif;
}